@font-face {
  font-family: "Heldane Display";
  src: local("Heldane Display Bold"),
    url("/HeldaneTextWeb-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Heldene Display";
  src: local("Heldane Display Regular"),
    url("/HeldaneDisplay/HeldaneTextWeb-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heldane Display";
  src: local("Heldane Display italic"),
    url("/HeldaneTextWeb-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}