/* @font-face {
    font-family: "mabry";
    src: local("HeldaneTextWeb-bold"),
      url("https://marrammontauk.com/fonts/mabry-bold-pro.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
  }
  @font-face {
    font-family: "mabry";
    src: local("HeldaneTextWeb regular"), local("HeldaneTextWeb-regular"),
      url("https://marrammontauk.com/fonts/mabry-regular-pro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
   */


   @font-face {
    font-family: "mabry";
    src:url("https://marrammontauk.com/fonts/mabry-bold-pro.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
  }
  @font-face {
    font-family: "mabry";
    src:url("https://marrammontauk.com/fonts/mabry-regular-pro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }