@font-face {
    font-family: "mabry";
    src: local("mabry bold"),
      url("/mabry-bold-pro.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "mabry";
    src: local("mabry regular"),
      url("/mabry-regular-pro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }