@import '../public/HeldaneDisplay/heldandisplay.css';
@import '../public/mabry-regular/mabry.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,600&display=swap');
/* @import url('//db.onlinewebfonts.com/c/e4397c6cf12af9f58d46e124d18d6d93?family=Mabry'); */
@tailwind base;
@tailwind components;
@tailwind utilities;
html body{
  /* margin: 0; */
  padding: 0;
  font-family:'mabry','Heldane display';
  min-height: 100vh;
  background-color: #fbf3ed;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width:'1440px') {
  :root{
    font-size: 14px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: red;
  }
}
@media (min-width:'1024px') {
  :root{
    font-size: 16px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d77256;
  border-radius: 10px;
}